.row
  
  .col-md-offset-4.col-md-4.well
    %h3.text-center Login
    = form_for(:session, url: sessions_path) do |f|
      %br
      .form-group
        = f.text_field :nome, class: 'form-control', placeholder:'Usuário'
  
      .form-group
        = f.password_field :senha, class: 'form-control', placeholder:'Senha'

      .form-groupd
        = f.submit "Acessar", class: "btn btn-large btn-success form-control"
      %br