%h3.text-center 
  =@turma.disciplina.nome
  | Turma
  %strong
    = @turma.sigla.upcase
%br
.row 
  .col-md-offset-3.col-md-6
    = render 'form', :button => "Atualizar" 
%ul.pager
  %li.previous
    = link_to 'â† Voltar', disciplina_turmas_path(@turma.disciplina)