 <div class="panel panel-success visible-lg">
        <div class="panel-heading">
          <h3 class="panel-title">Novo CPA</h3>
        </div>
        <div class="panel-body" style="margin-top:-10px;">
          <div class="row">
          	<div class="col-sm-12 ">
	            <%= form_for(@questionario) do |f| %>
				  <%= render 'shared/error_messages', object: f.object %>
					  <div class="form-group has-success">
				    	<%= f.text_field :nome, :placeholder => "Nome", :class => "form-control"%>
					  </div>
					  <%= f.submit "Cadastrar", :class => "btn btn-success btn-sm form-control"%>
				<% end %>
			</div>
          </div>
        </div>
      </div>




