.panel.panel-success.visible-lg
  .panel-heading
    %h3.panel-title Novo CPA
  .panel-body{:style => "margin-top: -10px;"}
    .row
      .col-sm-12
        = form_for(@questionario) do |f|
          = render 'shared/error_messages', object: f.object
          .form-group.has-success
            = f.text_field :nome, :placeholder => "Nome", :class => "form-control"
          = f.submit "Cadastrar", :class => "btn btn-success btn-sm form-control"