.row
  .col-lg-12
    .panel.panel-success
      .panel-heading
        %h3.panel-title
          %strong 
            Questionário :	 
            %small= @questionario.nome 
      - if @questionario.em_preparacao?
        = render 'show_em_preparacao', questionario: @questionario 
      - if @questionario.em_votacao? 
        =render 'show_em_votacao',    questionario: @questionario 
      - if @questionario.encerrado?
        =render 'show_encerrado',     questionario: @questionario 
%ul.pager
  %li.previous= link_to '← Voltar', questionarios_path
	
