-if object.errors.any?
  #error_explanation
    %h4
      O formulário contém
      = pluralize(object.errors.count, "erro")
      %hr
    - object.errors.full_messages.each do |msg|
      .alert.alert-danger
        = msg 