%h3.text-center Novo Curso
%br
.row 
  .col-md-offset-3.col-md-5	
    = render 'form', :button => "Cadastrar"
%ul.pager
  %li.previous
    = link_to 'â† Voltar', questionario_cursos_path(@curso.questionario)

