%h2.text-center Equipe
%br
.row
  .col-sm-4
    .well.text-center
      %h4 Desenvolvedor
      =image_tag "http://placehold.it/250x200", options = {:alt => "Dev1", :class => "img-thumbnail"}
      %h4 
        %strong Luiz Rodriguer Junior
      %p.text-left Viciado em cinema, principalmente filmes de terror e adora criticar tudo o que vê pela frente. Também adora ler e ama séries. E também, não consegue se descrever na terceira pessoa. Seus filmes favoritos são "As Vantagens de ser Invisivel" e "As Branquelas" .
      %br
      %p.text-left 
        %strong  
          Contanto :
        ralrodrigues@outlook.com
  .col-sm-4
    .well.text-center
      %h4 Desenvolvedor
      =image_tag "http://placehold.it/250x200", options = {:alt => "Dev1", :class => "img-thumbnail"}
      %h4 
        %strong Rene Esteves
      %p.text-left Viciado em cinema, principalmente filmes de terror e adora criticar tudo o que vê pela frente. Também adora ler e ama séries. E também, não consegue se descrever na terceira pessoa. Seus filmes favoritos são "As Vantagens de ser Invisivel" e "As Branquelas" .
      %br
      %p.text-left 
        %strong  
          Contanto :
        rene.stvs@gmail.com
  .col-sm-4
    .well.text-center
      %h4 Orientador
      =image_tag "http://placehold.it/250x200", options = {:alt => "Dev1", :class => "img-thumbnail"}
      %h4 
        %strong Nelson Alves Pinto
      %p.text-left Possui graduação em Sistemas de Informação pela UFTPR(2004). Mestrado em Engenharia Eletrônica e Computação, na área de Informática, pelo Instituto Tecnológico de Aeronáutica. Trabalhou em projetos governamentais na área de Testes de Segurança. 
      %br
      %p.text-left 
        %strong  
          Contanto :
        nelsonalvespinto@gmail.com
     