.jumbotron
  .row
    %h1 O que é o CPA ?
    %br
    %p O CPA é a Comissão Própria de Avaliação, que conforme Portaria 3179, de 18/11/2011 é composta por 02 (dois) representantes dos docentes, 03 (três) representantes do corpo técnico-administrativo, 01 (um) representante dos discentes, 01 (um) representante da sociedade civil organizada; com mandato de 02 (dois) anos, podendo ser reconduzidos por mais um mandato.

    %p Essa comissão visa trabalhar na Auto-Avaliação Institucional do IFSP – Campus Caraguatatuba a fim de permitir que a comunidade acadêmica avalie os trabalhos realizados no próprio campus.

    %p A Auto-Avaliação está em obediência à legislação que estabelece o Sistema de Avaliação da Educação Superior – SINAES (Lei n°10.861 de 14/04/2004 e Portaria MEC nº 2.051 de 09/06/04) e as Diretrizes para Auto-Avaliação das Instituições e em consonância com o Projeto de Auto-Avaliação Institucional do IFSP – Campus Caraguatatuba.

    %p A Auto-Avaliação Institucional do IFSP – Campus Caraguatatuba, segue paralelamente a Auto-Avaliação do IFSP da Sede, que fornece dados de forma geral de todos os Campi existentes. Buscamos completar o trabalho referido, com detalhamento sobre nosso Campus.
    %br
    .pull-right
      = link_to "Responder Agora", login_path, :class => "btn btn-success btn-lg"
%hr

.row
  
  .col-md-6
    .well 
      %h2.text-center Como ocorre ?
      %br
      %p A primeira parte do processo ocorre na forma de pesquisa onde alunos, professores e técnicos-administrativos preenchem um questionário com questões gerais sobre o instituto, sobre o curso e sobre disciplinas que cursaram.

      %p Na segunda parte os resultados são apresentados à comunidade em forma de relatório. Cada pergunta se transforma em um gráfico onde os resultados são analisados. Quando uma das perguntas atinge mais de 70% dos conceitos positivos este é considerado um ponto forte da campus. Quando o resultado se mostra abaixo de 70% considera-se que a questão apontou para um ponto fraco.

      %p Na terceira fase, cada professor recebe o relatório da avaliação da disciplina e junto com o coordenador de área discute os pontos que foram apresentados como fracos. Juntos, professor e coordenador devem lançar ações que visem melhorar tais pontos. O mesmo ocorre para as áreas administrativas, que também devem lançar um plano de ações para cada ponto fraco.

      %p Na quarta fase a comissão avalia cada plano de ações. Caso estas sejam consideradas inadequadas ou insatisfatórias a coordenação deve apresentar alternativas.

      %p A quinta fase ocorre somente depois que for feita outra avaliação por parte da comunidade. Com os resultados adquiridos cada ponto fraco é analisado separadamente para se estabelecer um histórico. Através desse histórico se pode medir a qualidade das ações efetuadas.

  .col-md-6
    .well
      %h2.text-center Posso preencher em casa ?
      %br
      %p O sistema foi feito para permitir que você tanto acesse de sua casa quanto possa preencher a pesquisa aos poucos. Existe também um campo de comentários onde você pode colocar pontos importantes sobre a disciplina e que não são cobertos pela pesquisa.
   
      %p Os comentários serão lidos por pessoas da comissão e também pelos envolvidos. Comentários com ofensas pessoais ou que permitam identificar quem escreveu serão descartados. Assim, professor e alunos são preservados.

      %p Abaixo, uma tela de exemplo do questionário CPA:

