- if @questionario.em_preparacao?
  = render 'questionario', :modelos => @docentes 
- if @questionario.em_votacao?
  = render 'questionario_votacao', :modelos => @docentes   
- if @questionario.encerrado?
  = render 'questionario_votacao', :modelos => @docentes   
%ul.pager
  %li.previous
    = link_to 'â† Voltar', questionario_modelos_path(@questionario)