%h3.text-center Novo Modelo
%br
.row 
  .col-md-offset-3.col-md-5	
    = render 'form', :button => "Cadastrar" 
%ul.pager
  %li.previous
    = link_to 'â† Voltar', questionario_modelos_path(@modelo.questionario)