<h1>Editar Funcionário</h1>

<%= render 'form' %>

<ul class="pager">

  <li class="previous">
    <%= link_to '← Voltar', questionario_funcionarios_path(@funcionario.area.questionario) %>
  </li>

</ul>