%hr 

%footer.text-center
  %small
    %p &copy; IFSP - Instituto Federal de Educação, Ciência e Tecnologia de São Paulo Campus Caraguatatuba
    %p Av. Rio Grande do Norte, 450 - Indaiá - Caraguatatuba SP - CEP: 11665-310 - Telefone: 55 (12) 3885-2130 - Powered by Ruby on Rails - Desenvolvido por:  <a href="/equipe">Equipe</a>


