%header
  -if logado?
    -if current_usuario.tipo != "Administrador"
      %br
      %br
      %br
  .pull-right
    - if logado?
      = current_usuario.nome
      (
      = link_to "Sair", logout_path, method: "delete"
      )
    - else
      = link_to "Login", login_path, :class => "btn btn-success btn-sm" 
  %h1#cpa
    = link_to "CPA", root_path
    %small Campus Caraguatatuba	
  %hr





